@import "reset.styl"

.body
    margin 0 auto
    overflow hidden

.menuMain
    height 35px
    margin-left 24px

.menuMain__item
    margin-right 10px
    display inline-block 
    border-bottom 1px solid #5c5fbe
    color #5c5fbe
    margin-top 6px
    cursor pointer

.vertical__line
    border-right 2px solid #000
    display inline-block
    height 22px 
    top 6px
    position absolute 
    margin-left 6px 

.section_content
    border-top 4px solid #000
    width 100% 
    border-bottom 4px solid

.left__content
    overflow-y scroll
    width 300px 
    height 500px
    border-right 2px solid #000 

.left__menu__photo
    background-image url("../img/labeled_red_2_folder_18804.png")
    background-repeat no-repeat
    margin 10px 0 0 16px
    height 32px 
    cursor pointer 

    &.open
        background-image url("../img/folder_red_27288.png")  

    &.youmay
        background-image url("../img/folder_archive_13905.png")   

    &.andthis
        background-image url("../img/games-folder_39674.png")     

    &.orthis
        background-image url("../img/Sites_folder_35246.png") 

    &.andthis2
        background-image url("../img/33_Private_24253.png") 

    &.oreven
        background-image url("../img/triangle_17890.png")     

    &.andthis3
        background-image url("../img/arrow_triangle_down_17909.png")  

    &.use__for
        background-image url("../img/Write_editnote_writ_9515.png") 
        padding-bottom 26px          
             

.left__menu
    margin-left 40px
    line-height 32px 
    cursor pointer  